<% provide(:css, "home.css")%>

<div class="container">
  <h1>社員名簿アプリへようこそ</h1>
  
  <div class="to-login">
    <p class="btn-table"><%=link_to 'ログイン', login_path,class: "ui basic green button"  %></p>
    <p class="btn-table"><%=link_to '新規登録', signup_path,class: "ui green button"  %></p>
  </div>
</div>
