<% if logged_in? %>
<nav>
  <div class="inner-nav cfx">
    <ul class="cfx">
      <li class="parent-li"><a href="/staffs/">職種一覧ページ</a></li>
    </ul>
    
    <p class="logout"><%= link_to "ログアウト", logout_path , method: :delete %></p>
    
  </div>
</nav>
<% end %>