header {
	padding-top: 50px;
	padding-bottom: 30px;
	text-align: center;
}

h1 {
	text-align: center;
}

.container {
	margin-top: 50px;
	margin-left: 10%;
	margin-right: 10%;
}

.ocu-name {
	color: #666;
	text-align: center;
}

.inner-column {
	padding: 10px;
	border: 1px solid rgba(34, 36, 38, 0.15);
	border-radius: 10px;
}

.name-lists li {
	margin: 5px 0;
}

.ocu-lists .tabcontents {
	height: 100%;
}

.ocu-lists .tabcontents .ui {
	height: 100%;
}

.ocu-lists .wrp-tabcotents {
	width: 75%;
	display: inline-flex;
	align-self: stretch;
	flex-direction: column;
}

.ui.tab {
	display: none;
}

.ui.tab.active {
	display: block;
}

.staff-lists {
	position: relative;
	padding-left: 0;
	list-style-type: none;
}

.staff-lists li {
	width: 33.3%;
	float: left;
	margin: 5px 0;
}

.ui.vertical.tabular.menu .active.item {
	color: #00b5ad;
}

.wrp-tabcotents .department {
	margin-left: 5px;
	font-size: 16px;
	font-weight: bold;
}

.wrp-tabcotents .department-blk {
	margin-bottom: 10px;
	border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

.wrp-tabcotents .department-blk:last-child {
	border-bottom: 0;
}
