body {
	color: #11256C;
	font-family: "メイリオ", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN","ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	background-color: #FFF9EB;
	background: #FFF9EB url(/assets/ptn_bg.png) repeat 0 0;
	-webkit-background-size: 40px 40px;
	background-size: 40px 40px;
	
}

nav {
	background-color: #1C53F6;
	position: relative;
}

nav ul {
	float: left;
	margin: 0;
	padding: 0;
	color: #FFF9EB;
	list-style-type: none;
}

nav ul a {
	display: block;
	color: #FFF9EB;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
}

nav ul li {
	margin-right: 10px;
	float: left;
	padding-right: 10px;
	border-right: 1px solid #FFF9EB;
}

nav ul .inner-child-nav {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	background-color: #9EBCAB;
	display: none;
}

nav ul .inner-child-nav a {
	padding-top: 10px;
	padding-bottom: 10px;
}

nav ul .child-nav {
	position: relative;
	margin-left: 10%;
}

nav .logout {
	margin-top: 20px;
	float: right;
}

nav .logout a {
	color: #FFF9EB;
	font-weight: bold;
}

nav .inner-nav {
	margin-left: 10%;
	margin-right: 10%;
}

nav a:hover {
	color: #FFF9EB;
	opacity: .7;
}

.cfx:after,
.cfx:before {
	content: '';
	display: table;
}

.cfx:after {
	clear: both;
}

.cfx {
	zoom: 1;
}

a {
	color: #222;
}

.pushable {
	height: auto;
}
.ui.grid {
	width: 100%;
}
.ui.attached.menu {
	margin-top: 0;
	background-color: #00b5ad;
}

.ui.top.attached.menu > .item:first-child {
	color: #FFF9EB;
}
.wrp-container {
	width: 100%;
}
/* エラー */
.field_with_errors {
	border-color: red;
}
#error_explanation {
	border: 1px solid red;
	padding: 10px;
	margin-bottom: 20px;
	ul {
		list-style-type: none;
		text-align: left;
		li {
			color: red;
		}
	}
}

input[type ="hidden"] {
	display: none;
}

