<% provide(:css, "signup.css")%>

<div class="container">
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <div class="content">
        新規登録
      </div>
    </h2>
    <form class="ui large form">
      <div class="ui stacked">
        <div class="required field">
          <label for="name" class="">ユーザーネーム</label>
          <div class="ui left icon input">
            
            <i class="user icon"></i>
            <input type="text" name="name" placeholder="ユーザーネーム">
          </div>
        </div>
        
        <div class="field">
           <label for="name" class="">メールアドレス</label>
          <div class="ui left icon input">
            <input type="password" name="password" placeholder="メールアドレス">
          </div>
        </div>
        
        <div class="required field">
           <label for="name" class="">パスワード</label>
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="パスワード">
          </div>
        </div>
        <div class="required field">
           <label for="name" class="">職種</label>
          <div class="ui left icon input">
            <select class="ui fluid search dropdown" name="occupation[expire-month]">
            <option value="1">フロントエンドエンジニア</option>
            <option value="2">デザイナー</option>
            <option value="3">ディレクター</option>
            <option value="4">プロデユーサー</option>
            </select>
          </div>
        </div>
        <div class="field">
           <label for="name" class="">職歴</label>
          <div class="ui left icon input">
            <input type="password" name="password" placeholder="職歴">
          </div>
        </div>
        
        <div class="field">
           <label for="name" class="">課</label>
          <div class="ui left icon input">
            <input type="password" name="password" placeholder="職歴">
          </div>
        </div>
        
        <div class="field">
           <label for="name" class="">Twitter</label>
          <div class="ui left icon input">
            <input type="password" name="password" placeholder="URL">
          </div>
        </div>
        
        <div class="field">
           <label for="name" class="">Facebook</label>
          <div class="ui left icon input">
            <input type="password" name="password" placeholder="URL">
          </div>
        </div>
        
        <div class="field">
           <label for="name" class="">Instagram</label>
          <div class="ui left icon input">
            <input type="password" name="password" placeholder="URL">
          </div>
        </div>
        
       
        
        <div class="field">
          <button class="ui fluid large teal submit button" type="submit">新規登録</button>
        </div>
      </div>

      <div class="ui error message"></div>
      <div class="field">
        
      </div>

    </form>

  </div>
</div>
</div>